Repository iTwin/itwinjs-core, changes with the owners that .github/CODEOWNERS names for each.
All owners: @imodeljs/admins, @calebmshafer, @wgoehrig, @ColinKerr, @scsewall, @ramanujam-raman, @diegoalexdiaz, @paulius-valiunas, @pmconne, @mgooding, @EarlinLutz, @RBBentley, @bbastings, @abeesh, @c-macdonald, @swwilson-bsi, @kabentley, @bsteinbk, @imodeljs/presentation, @imodeljs/ui, @imodeljs/core, @williamkbentley, @khanaffan, @swbsi, @grigasp, @hnn0003

Ignore device pixel ratio in tests that don't care about it.
  full-stack-tests/core/src/frontend/hub/PlanProjection.test.ts
Owners: @imodeljs/admins

Fix enum editor in grid layout - DR issue. (#252)
  common/changes/@bentley/ui-components/fixEnumEditorInGridLayout_2020-11-18-01-45.json
  common/changes/@bentley/ui-framework/fixEnumEditorInGridLayout_2020-11-18-01-45.json
  ui/components/src/ui-components/editors/EnumEditor.scss
  ui/framework/src/ui-framework/uiprovider/DefaultDialogGridContainer.scss
Owners: @imodeljs/core, @imodeljs/ui

Fix other test.
  full-stack-tests/core/src/frontend/standalone/BackgroundMap.test.ts
Owners: @imodeljs/admins

Compress display style's excluded element Ids (#246)
  common/api/bentleyjs-core.api.md
  common/api/imodeljs-backend.api.md
  common/api/imodeljs-common.api.md
  common/api/summary/imodeljs-common.exports.csv
  common/changes/@bentley/bentleyjs-core/compress-excluded-element-ids_2020-11-17-19-51.json
  common/changes/@bentley/imodeljs-backend/compress-excluded-element-ids_2020-11-17-19-51.json
  common/changes/@bentley/imodeljs-common/compress-excluded-element-ids_2020-11-17-19-51.json
  common/changes/@bentley/imodeljs-frontend/compress-excluded-element-ids_2020-11-17-19-51.json
  core/backend/src/IModelDb.ts
  core/backend/src/ViewDefinition.ts
  core/backend/src/rpc-impl/IModelReadRpcImpl.ts
  core/backend/src/test/IModelTransformerUtils.ts
  core/backend/src/test/standalone/ExcludedElements.test.ts
  core/bentley/src/CompressedId64Set.ts
  core/bentley/src/ObservableSet.ts
  core/bentley/src/test/ObservableSet.test.ts
  core/common/src/DisplayStyleSettings.ts
  core/common/src/ElementProps.ts
  core/common/src/ViewProps.ts
  core/common/src/rpc/IModelReadRpcInterface.ts
  core/common/src/test/DisplayStyle.test.ts
  core/frontend/src/IModelConnection.ts
  core/frontend/src/Viewport.ts
  core/frontend/src/render/FeatureSymbology.ts
  docs/changehistory/NextVersion.md
Owners: @imodeljs/admins, @imodeljs/core

Add try/finally around synchronization in order to do cleanup before continuing. Change API tag to beta
  common/api/imodel-bridge.api.md
  common/api/summary/imodel-bridge.exports.csv
  common/changes/@bentley/imodel-bridge/master_2020-11-18-14-47.json
  core/imodel-bridge/src/BridgeRunner.ts
  core/imodel-bridge/src/IModelBridge.ts
  core/imodel-bridge/src/Synchronizer.ts
  core/imodel-bridge/src/test/integration/TestiModelBridge.ts
Owners: @abeesh, @c-macdonald, @swwilson-bsi, @imodeljs/core

PR Fixes
  ui/components/src/ui-components/filtering/FilteringInput.tsx
  ui/components/src/ui-components/properties/renderers/PropertyRenderer.tsx
  ui/components/src/ui-components/propertygrid/dataproviders/FilteringDataProvider.ts
  ui/components/src/ui-components/propertygrid/dataproviders/filterers/DisplayValuePropertyDataFilterer.ts
  ui/components/src/ui-components/propertygrid/dataproviders/filterers/LabelPropertyDataFilterer.ts
  ui/components/src/ui-components/propertygrid/internal/flat-properties/FlatPropertyRenderer.tsx
Owners: @imodeljs/ui, @imodeljs/presentation

Voxel size by max dimension rather than by diagaonal
  core/frontend/src/tile/PntsReader.ts
Owners: @imodeljs/admins

fix linter issues.
  test-apps/ui-test-extension/src/ui/NetworkTraceUIProvider.ts
Owners: @imodeljs/ui

.github/CODEOWNERS:

# This CODEOWNERS file follows the format of Github's CODEOWNERS
#   Documentation for reference, https://help.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# This is a comment.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @global-owner1 and @global-owner2 will be requested for
# review when someone opens a pull request.

* @imodeljs/admins

.github/workflows @calebmshafer @wgoehrig @ColinKerr

.gitattributes @calebmshafer @scsewall
.gitignore @calebmshafer @scsewall
rush.json @calebmshafer @scsewall

/clients              @calebmshafer @ramanujam-raman
# /clients/imodelhub    @amikoliunas @Animagne

/common/api/analytical-backend.api.md               @diegoalexdiaz @scsewall
/common/api/backend-application-insights-client.api.md @calebmshafer @ramanujam-raman
/common/api/backend-itwin-client.api.md             @calebmshafer @ramanujam-raman
/common/api/bentleyjs-core.api.md                   @imodeljs/admins
/common/api/config-loader.api.md                    @calebmshafer @wgoehrig
/common/api/context-registry-client.api.md          @calebmshafer @ramanujam-raman
/common/api/ecschema-locaters.api.md                @calebmshafer @ColinKerr @wgoehrig
/common/api/ecschema-metadata.api.md                @calebmshafer @ColinKerr @wgoehrig
/common/api/ecschema2ts.api.md                      @calebmshafer @ColinKerr @wgoehrig
/common/api/electron-manager.api.md                 @wgoehrig @ramanujam-raman
/common/api/express-server.api.md                   @wgoehrig @calebmshafer
/common/api/extension-client.api.md                 @calebmshafer @paulius-valiunas
/common/api/forms-data-management-client.api.md     @calebmshafer @ramanujam-raman
/common/api/frontend-application-insights-client.api.md     @calebmshafer @ramanujam-raman
/common/api/frontend-authorization-client.api.md     @calebmshafer @ramanujam-raman
/common/api/frontend-devtools.api.md                @pmconne @mgooding
/common/api/geometry-core.api.md                    @EarlinLutz @mgooding @RBBentley @bbastings
/common/api/hypermodeling-frontend.api.md           @pmconne @bbastings
/common/api/imodel-bridge.api.md                    @abeesh @c-macdonald @swwilson-bsi
# /common/api/imodelhub-client.api.md                 @amikoliunas @Animagne
/common/api/imodeljs-backend.api.md                 @imodeljs/admins
/common/api/imodeljs-common.api.md                  @imodeljs/admins
/common/api/imodeljs-frontend.api.md                @imodeljs/admins
/common/api/imodeljs-i18n.api.md                    @calebmshafer @wgoehrig
/common/api/imodeljs-markup.api.md                  @kabentley @pmconne
/common/api/imodeljs-quantity.api.md                @bsteinbk @calebmshafer
/common/api/itwin-client.api.md                     @calebmshafer @ramanujam-raman
/common/api/linear-referencing-backend.api.md       @diegoalexdiaz @scsewall
/common/api/linear-referencing-common.api.md        @diegoalexdiaz @scsewall
/common/api/logger-config.api.md                    @swwilson-bsi @scsewall
/common/api/oauth-introspection-client.api.md       @calebmshafer @ramanujam-raman
/common/api/orbitgt-core.api.md                     @pmconne @RBBentley
/common/api/perf-tools.api.md                       @calebmshafer @wgoehrig
/common/api/physical-material-backend.api.md        @scsewall
/common/api/presentation-*.api.md                   @imodeljs/presentation
/common/api/product-settings-client.api.md          @calebmshafer @ramanujam-raman
/common/api/projectshare-client.api.md              @calebmshafer @ramanujam-raman
/common/api/rbac-client.api.md                      @calebmshafer @ramanujam-raman
/common/api/reality-data-client.api.md              @calebmshafer @ramanujam-raman
/common/api/telemetry-client.api.md                 @calebmshafer @ramanujam-raman
/common/api/ui-*.api.md                             @imodeljs/ui
/common/api/usage-logging-client.api.md             @calebmshafer @ramanujam-raman
/common/api/webgl-compatibility.api.md              @pmconne

# Specifying both of these with a large number of possible reviewers.
# All significant changes will be covered by other requirements.
/common/api/summary @imodeljs/core
/common/changes @imodeljs/core

/common/config/azure-pipelines  @calebmshafer @wgoehrig @ColinKerr

/core/backend                   @imodeljs/admins
/core/backend-itwin-client      @calebmshafer @ramanujam-raman
/core/bentley                   @imodeljs/admins
/core/common                    @imodeljs/admins
/core/common/src/rpc/IModelTileRpcInterface.ts    @pmconne
/core/ecschema-locaters         @calebmshafer @ColinKerr @wgoehrig
/core/ecschema-metadata         @calebmshafer @ColinKerr @wgoehrig
/core/electron-manager          @wgoehrig @ramanujam-raman
/core/express-server            @calebmshafer @wgoehrig @ramanujam-raman
/core/frontend                  @imodeljs/admins
/core/frontend-devtools         @pmconne @mgooding
/core/geometry                  @bbastings @EarlinLutz @mgooding @RBBentley
/core/hypermodeling             @bbastings @pmconne
/core/i18n                      @wgoehrig @calebmshafer
/core/imodel-bridge             @abeesh @c-macdonald @swwilson-bsi
/core/logger-config             @swwilson-bsi @scsewall
/core/markup                    @kabentley @pmconne
/core/orbitgt                   @RBBentley @pmconne
/core/quantity                  @bsteinbk @calebmshafer
/core/webgl-compatibility       @pmconne @mgooding

/docs/getting-started @calebmshafer @williamkbentley
/docs/config @calebmshafer @williamkbentley

# These domains should be split up a bit more
/domains      @scsewall
/domains/analytical @diegoalexdiaz @scsewall
/domains/linear-referencing @diegoalexdiaz @scsewall

/example-code                         @scsewall @swwilson-bsi

/extensions                           @bsteinbk @calebmshafer

/full-stack-tests/core                @imodeljs/admins
# /full-stack-tests/imodelhub-client    @amikoliunas @Animagne
/full-stack-tests/native-app    @calebmshafer @khanaffan @ramanujam-raman
/full-stack-tests/presentation  @imodeljs/presentation
/full-stack-tests/rpc           @calebmshafer @wgoehrig @swbsi
/full-stack-tests/rpc-interface @calebmshafer @wgoehrig

/presentation                   @imodeljs/presentation
/presentation/common/src/presentation-common/PresentationRpcInterface.ts @grigasp

/test-apps/analysis-importer                @RBBentley
/test-apps/display-performance-test-app     @hnn0003 @pmconne
/test-apps/display-test-app                 @kabentley @mgooding @pmconne @RBBentley
/test-apps/export-gltf                      @mgooding
/test-apps/export-obj                       @mgooding
/test-apps/imjs-importer                    @EarlinLutz
/test-apps/imodel-from-geojson              @mgooding
/test-apps/imodel-from-orbitgt              @RBBentley
/test-apps/imodel-from-reality-model        @RBBentley
/test-apps/ninezone-test-app                @imodeljs/ui
/test-apps/presentation-test-app            @imodeljs/presentation
/test-apps/synchro-schedule-importer        @RBBentley
/test-apps/ui-test-app                      @imodeljs/ui
/test-apps/ui-test-extension                @imodeljs/ui

/tools/backend-webpack @calebmshafer @wgoehrig
/tools/build @calebmshafer @wgoehrig
/tools/certa @calebmshafer @wgoehrig
/tools/config-loader @calebmshafer @wgoehrig
/tools/extension-webpack @calebmshafer @wgoehrig
/tools/oidc-signin-tool @calebmshafer @wgoehrig
/tools/webpack-core @calebmshafer @wgoehrig
/tools/ecschema2ts @calebmshafer @ColinKerr @wgoehrig
/tools/eslint-plugin @calebmshafer @paulius-valiunas
/tools/extension-cli @calebmshafer @paulius-valiunas
/tools/internal @calebmshafer @wgoehrig
/tools/perf-tools @calebmshafer @wgoehrig

/ui @imodeljs/ui
/ui/components/src/ui-components/properties   @imodeljs/ui @imodeljs/presentation
/ui/components/src/ui-components/propertygrid @imodeljs/ui @imodeljs/presentation
/ui/components/src/ui-components/tree         @imodeljs/ui @imodeljs/presentation
