Repository iTwin/itwinjs-core, pull requests merged in 2023-04, with the labels that each got.

#5356 Rename ECSqlReader to QueryReader
  common/api/core-backend.api.md
  common/api/core-common.api.md
  common/api/core-frontend.api.md
  common/api/summary/core-common.exports.csv
  common/changes/@itwin/core-backend/rename-ecsqlreader_2023-04-05-17-44.json
  common/changes/@itwin/core-common/rename-ecsqlreader_2023-04-05-17-44.json
  common/changes/@itwin/core-common/rename-ecsqlreader_2023-04-05-19-18.json
  common/changes/@itwin/core-frontend/rename-ecsqlreader_2023-04-05-17-44.json
  core/backend/src/ECDb.ts
  core/backend/src/IModelDb.ts
  core/backend/src/test/ecdb/QueryReader.test.ts
  core/common/src/QueryReader.ts
  core/common/src/core-common.ts
  core/frontend/src/IModelConnection.ts
Labels: breaking change, ecdb

#3720 Atmospheric scattering
  common/api/core-common.api.md
  common/api/core-frontend.api.md
  common/api/summary/core-common.exports.csv
  common/api/summary/core-frontend.exports.csv
  common/changes/@itwin/core-common/raphaelmelancon-athmospheric_scattering_2023-04-03-18-56.json
  common/changes/@itwin/core-frontend/raphaelmelancon-athmospheric_scattering_2023-04-03-18-56.json
  core/common/src/Atmosphere.ts
  core/common/src/DisplayStyleSettings.ts
  core/common/src/Environment.ts
  core/common/src/SkyBox.ts
  core/common/src/core-common.ts
  core/common/src/test/DisplayStyle.test.ts
  core/frontend/src/EnvironmentDecorations.ts
  core/frontend/src/render/RenderPlan.ts
  core/frontend/src/render/webgl/AtmosphereUniforms.ts
  core/frontend/src/render/webgl/DrawCommand.ts
  core/frontend/src/render/webgl/ShaderBuilder.ts
  core/frontend/src/render/webgl/Target.ts
  core/frontend/src/render/webgl/TargetUniforms.ts
  core/frontend/src/render/webgl/Technique.ts
  core/frontend/src/render/webgl/TechniqueFlags.ts
  core/frontend/src/render/webgl/glsl/Atmosphere.ts
  core/frontend/src/render/webgl/glsl/RealityMesh.ts
  core/frontend/src/render/webgl/glsl/SkySphere.ts
  docs/changehistory/NextVersion.md
  docs/changehistory/assets/atmosphere_distance.jpg
  docs/changehistory/assets/atmosphere_globe.jpg
  docs/changehistory/assets/atmosphere_space.jpg
  docs/changehistory/assets/atmosphere_sunset.jpg
  full-stack-tests/core/src/frontend/standalone/DisplayStyleState.test.ts
  test-apps/display-test-app/src/frontend/Atmosphere.ts
  test-apps/display-test-app/src/frontend/EnvironmentEditor.ts
  test-apps/display-test-app/src/frontend/ViewAttributes.ts
Labels: enhancement, display

#5412 add missing file to core-geometry barrel
  common/api/core-geometry.api.md
  common/api/summary/core-geometry.exports.csv
  common/changes/@itwin/core-geometry/da4-geometry-barrel-missing-type_2023-04-18-16-11.json
  core/geometry/src/core-geometry.ts
  core/geometry/src/polyface/FacetLocationDetail.ts
Labels: geometry
